{% extends 'base.html.twig' %}

{% block body %}
    <div id="outsider" class="">

        {# ########################################## #}
        {#       block principale de contenu          #}
        {# ########################################## #}
        {% block content %}{% endblock %}

    </div>
{% endblock %}