{% extends 'components/templates/dashboard.html.twig' %}

{% block title %} | {{'title.dashboard'|trans}}{% endblock %}

{% block content %}

    <div id="dashboard">
        <pre>
            {{ dump(user) }}
        </pre>
    </div>

{% endblock %}