<!DOCTYPE html>
<html lang="fr">
    {#
        les block sur cette page :
            title           -> definir le titre dans l'onglet de la page
            add_stylesheet  -> pour ajouter un css particulier
            body            -> pour le contenu de la page
            add_script      -> pour ajouter un script particulier
    #}
    <head>
        <meta charset="UTF-8">
        <meta property="og:title" content="TPM">
        <meta property="og:description" content="TPM | L'univers de teams et de projets">
        <meta property="og:image" content="{{ asset('') }}">
        <meta property="og:url" content="https://TPM.io/">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="TPM | L'univers de teams et de projets">
        <meta name="author" content="TPM">
        <meta name="keywords" content="Ticket-Project-Manager">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
	    <link rel="icon" href="{{ asset('build/images/favicon.ico') }}"/>

        <!-- Title Page-->
        <title>MOBADS {% block title %}|{% endblock %}</title>


        {# ########################################## #}
        {#           block css a ajouter              #}
        {# ########################################## #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('css/app') }}
        {% endblock %}
    </head>
    <body id="tpm">
        {% block body %}{% endblock %}

        {# ########################################## #}
        {#            block javascript                #}
        {# ########################################## #}
        {% block javascripts %}
            {{ encore_entry_script_tags('js/app') }}
        {% endblock %}
    </body>
</html>
