<nav id="navbar-header">
    <div class="navbar-fixed text-center">
        <div class="navbar-container">
            <div class="navbar-items">
                <a href="#"><i class="icon fas fa-bars"></i></a>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown button
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </div>
                <div>
                    <div class="profil">john doe</div>
                </div>
            </div>
        </div>
    </div>
</nav>